*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
canvas{
    /* background-color: #f1f0eb; */
    position: fixed;
    top: 0;
    left: 0;
}

section{
    background-color: #4e4c6b;
    position: fixed;
    z-index: 1;
    width: 10rem;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 4em;
    border: 2px solid white;
    border-radius: 10px;
    gap: 3em;
    filter: drop-shadow(0 0 1.5em rgb(98, 121, 216));
}

section figure{
    width: 90%;
    height: 15%;
    transition: transform .2s ease-in; /* Animation */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.3em;
    color: #f3ecec;
}

section figure i:hover{
    filter: drop-shadow(1px 1px 10px #57daae);
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

#rangeEraser, #rangeColor, #colorPen, #colorFill{
    width: 90%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f3ecec;
}


.modal{
    border-radius: 10px;
    margin: auto 15em;
    position: fixed;
    width: 400px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#rangeEraser, #rangeColor{
    margin-top: 2em;
}

.logo{
    width: 130px;
    height: 130px;
    position: fixed;
    z-index: 1;
    margin-bottom: 25em;
    margin-left: 70em;
    background: url(./assets/cooTiLogo.png);
    /* object-fit: cover; */
    background-size: cover;
    background-position: center;
}
