*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}
/* canvas{ */
    /* background-color: #f1f0eb; */
    /* position: fixed;
    top: 0;
    left: 0;
} */

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.container  section{
    align-items: center;
}

section{
    /* background-color: #4e4c6b; */
    /* position: fixed;
    z-index: 1; */
    width: 10rem;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 4em;
    border-radius: 10px;
    gap: 3em;
    filter: drop-shadow(0 0 1.5em rgb(98, 121, 216));
     /* From https://css.glass */
    background: rgba(78, 76, 107, 0.70);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 2px solid white;

}

section figure{
    width: 90%;
    height: 15%;
    transition: transform .2s ease-in; /* Animation */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.3em;
    color: #f3ecec;
}

section figure i:hover{
    filter: drop-shadow(1px 1px 10px #57daae);
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}


#rangeEraser, #rangeColor, #colorPen, #colorFill{
    width: 90%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f3ecec;
}

.modal{
    border-radius: 10px;
    margin: auto 15em;
    position: fixed;
    width: 400px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#rangeEraser, #rangePen{
    margin-top: 2em;
}

.logo{
    padding: 0.3em;
    margin-top: 1em;
    margin-right: 3em;
    width: 130px;
    height: 130px;
    /* position: fixed; */
    z-index: 1;
    /* object-fit: cover; */
    background-position: center;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 2px solid white;
    filter: drop-shadow(0 0 1.5em rgb(98, 121, 216));
}

.logo img{
    width: 100%;
    cursor: none;
    pointer-events: none;
    user-select: none;
    object-fit: cover;

}

.column-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

